*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.world {
  overflow: hidden;
  position: relative;
}

.blink {
  animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.score {
  position: absolute;
  font-size: 3vmin;
  right: 2vmin;
  top: 1vmin;
  font-family: 'DotGothic16', sans-serif;
}

.high-score {
  position: absolute;
  font-size: 3vmin;
  right: 20vmin;
  top: 1vmin;
  font-family: 'DotGothic16', sans-serif;
}

.high-score-label {
  position: absolute;
  font-size: 3vmin;
  right: 30vmin;
  top: 1vmin;
  font-family: 'DotGothic16', sans-serif;
}

.start-screen {
  position: absolute;
  text-transform: uppercase;
  font-size: 3vmin;
  top: 50%;
  left: 50%;
  letter-spacing: 3px;
  transform: translate(-50%, -50%);
  font-family: 'DotGothic16', sans-serif;
}
.game-over-screen {
  text-transform: uppercase;
  position: absolute;
  font-size: 3vmin;
  top: 50%;
  left: 50%;
  letter-spacing: 10px;
  transform: translate(-50%, -50%);
  font-family: 'DotGothic16', sans-serif;
}
.title {
  position: absolute;
  font-size: 6vmin;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'DotGothic16', sans-serif;
}
.hint {
  position: absolute;
  font-size: 2vmin;
  top: 17%;
  left: 50%;
  letter-spacing: 1px;
  transform: translate(-50%, -50%);
  font-family: 'DotGothic16', sans-serif;
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}
